@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

input:focus {
  outline: none;
}

::selection {
  background: #2EC4B6;
  color: white;
}